doctype html
html
    head
        title WWD17
        meta(charset="utf-8")
        //link(rel="stylesheet", type="text/css", href="css/bootstrap.css")
        //link(rel="stylesheet", type="text/css", href="css/bootstrap-theme.css")
        link(rel="stylesheet", type="text/css", href="css/main.css")
        script(type="text/javascript", src="js/lib/jquery-3.0.0.js")
        script(type="text/javascript", src="js/lib/jquery.scrollTo.js")
        script(type="text/javascript", src="js/lib/underscore.js")
        script(type="text/javascript", src="js/lib/imagesloaded.pkgd.js")
        script(type="text/javascript", src="js/app2.js")
        script(type="text/template", id="slideTemplate")
            .slide(data-slide-type!="<%= slideType %>")
                .image
                    img(src!="<%= img %>", alt!="<%= label %>")
                .label <%= label %>
                .hover
        script(type="text/template", id="pageTemplate")
            .page(data-slide-type!="<%= slideType %>")
    body
        main.container-fluid
            header#header.row
                .column.col-lg-12
                    article.text
                        h1.bold.top Im letrinhdesign
                        h2.bold.middle im a web designer
                        p.bottom.
                            i’ve been helping web design and grow your businesses.
                            start your business with new website. Lorem ipsum dolor
                            sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et.
                        .slide-down
            section#about-us.row
                .column.col-lg-12
                    article.text
                        h1.bold ABOUT US
                        .separator.center-block
                        p.
                            Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua.
                    figure.image
                        img.img-responsive.center-block(src="images/aboutus.jpg", alt="About Us")
            section#whoweare.row
                .column.col-lg-12
                    article.text
                        h1.bold WHO WE ARE
                        .separator.center-block
                        p.
                            Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua.
                    section.row.fixed-width-row
                        .column.col-lg-3.col-md-4.col-sm-6
                            figure.member
                                .flipper
                                    .image
                                        img.img-responsive.center-block(src="images/members/member1.jpg", alt="John Handson")
                                    .social
                                        .links
                                            a.twitter(href="#")
                                            a.facebook(href="#")
                                            a.google-plus(href="#")
                                figcaption.text
                                    .name John Handson
                                    .position Lead Designer
                        .column.col-lg-3.col-md-4.col-sm-6
                            figure.member
                                .flipper
                                    .image
                                        img.img-responsive.center-block(src="images/members/member1.jpg", alt="Alex Cutter")
                                    .social
                                        .links
                                            a.twitter(href="#")
                                            a.facebook(href="#")
                                            a.google-plus(href="#")
                                figcaption.text
                                    .name Alex Cutter
                                    .position Developer
                        .column.col-lg-3.col-md-4.col-sm-6
                            figure.member
                                .flipper
                                    .image
                                        img.img-responsive.center-block(src="images/members/member2.jpg", alt="Elena Simpson")
                                    .social
                                        .links
                                            a.twitter(href="#")
                                            a.facebook(href="#")
                                            a.google-plus(href="#")
                                figcaption.text
                                    .name Elena Simpson
                                    .position Artist
                        .column.col-lg-3.col-lg-offset-0.col-md-4.col-md-offset-4.col-sm-6
                            figure.member
                                .flipper
                                    .image
                                        img.img-responsive.center-block(src="images/members/member3.jpg", alt="Lily Allen")
                                    .social
                                        .links
                                            a.twitter(href="#")
                                            a.facebook(href="#")
                                            a.google-plus(href="#")
                                figcaption.text
                                    .name Lily Allen
                                    .position Graphic Designer
            section#whatwedo.row.text-center
                .column.col-lg-12
                    .row.fixed-width-row
                        .column.col-lg-12
                            article
                                h1.bold WHAT WE DO
                                .separator.center-block
                                p.
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua.
                        .col-lg-4.col-md-6
                            article.work
                                figure.image
                                    img.img-responsive.center-block(src="images/works/design.png", alt="Design")
                                .title.orange-text DESIGN
                                p.description.
                                    Perspiciatis unde omnis iste natus error
                                    sit voluptatem accu santium doloremque
                                    laudantium, totam rem aperiam, eaque ipsa
                                    quae ab illo inventore veritatis et quasi
                                    architecto beatae vitae dicta sunt explicabo.
                        .col-lg-4.col-md-6
                            article.work
                                figure.image
                                    img.img-responsive.center-block(src="images/works/development.png", alt="Development")
                                .title DEVELOPMENT
                                p.description.
                                    Perspiciatis unde omnis iste natus error
                                    sit voluptatem accu santium doloremque
                                    laudantium, totam rem aperiam, eaque ipsa
                                    quae ab illo inventore veritatis et quasi
                                    architecto beatae vitae dicta sunt explicabo.
                        .col-lg-4.col-lg-offset-0.col-md-6.col-md-offset-3
                            article.work
                                figure.image
                                    img.img-responsive.center-block(src="images/works/prod-management.png", alt="Product Management")
                                .title PRODUCT MANAGEMENT
                                p.description.
                                    Perspiciatis unde omnis iste natus error
                                    sit voluptatem accu santium doloremque
                                    laudantium, totam rem aperiam, eaque ipsa
                                    quae ab illo inventore veritatis et quasi
                                    architecto beatae vitae dicta sunt explicabo.
            section#ourwork.row.text-center
                .col-lg-12
                    article
                        h1.bold OUR WORK
                        .separator.center-block
                        p.
                            Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua.
                .col-lg-12
                    .slider-wrapper
                        .slider
                .col-lg-12
                    .pages-wrapper.center-block
                        .pages
            section#ourclient.row.text-center
                .col-lg-12
                    article.text
                        h1.bold OUR CLIENT
                        .separator.center-block
                        p.
                            Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua.
                .col-lg-2.col-md-3.col-sm-4
                    a(href="#")
                        figure
                            img.img-responsive.center-block(src="images/clients/theverge.png", alt="The Verge Logo")
                .col-lg-3.col-md-3.col-sm-4
                    a(href="#")
                        figure
                            img.img-responsive.center-block(src="images/clients/mashable.png", alt="Mashable Logo")
                .col-lg-2.col-md-3.col-sm-4
                    a(href="#")
                        figure
                            img.img-responsive.center-block(src="images/clients/tnw.png", alt="The New Web Logo")
                .col-lg-3.col-md-3.col-sm-6
                    a(href="#")
                        figure
                            img.img-responsive.center-block(src="images/clients/behance.png", alt="Behance Logo")
                .col-lg-2.col-md-12.col-sm-6
                    a(href="#")
                        figure
                            img.img-responsive.center-block(src="images/clients/dribble.png", alt="Dribble Logo")
            section#contact.row
                .col-lg-12(style="float: none;")
                    article.text-center
                        h1 GET IN TOUCH
                        .separator.center-block
                        p.
                            Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua.
                section.row.fixed-width-row(style="margin-top: 5em;")
                    .col-lg-8
                        form(method="POST", action="#")
                            .row
                                .col-lg-12
                                    h3.hello.visible-lg-block Say hello!
                                    h3.hello.text-center.hidden-lg Say hello!
                                .col-lg-12
                                    input.input-text(type="text", placeholder="Name", name="name")
                                .col-lg-12
                                    input.input-text(type="text", placeholder="Email", name="email")
                                .col-lg-12
                                    input.input-text(type="text", placeholder="Message", name="message")
                                .col-lg-2.clearfix(style="padding-top: 1em;")
                                    input.button.visible-lg-inline-block(type="button", value="Send message")
                                    input.button.center-block.hidden-lg(type="button", value="Send message")
                    .col-lg-2.col-lg-offset-2.col-md-2.col-md-offset-5.col-sm-4.col-sm-offset-4
                        .socials.clearfix
                            a.button.behance(href="#")
                                figure
                                    img.img-responsive.center-block(src="images/socials/behance.png")
                            a.button.twitter(href="#")
                                figure
                                    img.img-responsive.center-block(src="images/socials/twitter.png")
                            a.button.dribble(href="#")
                                figure
                                    img.img-responsive.center-block(src="images/socials/dribble.png")
                            a.button.fb(href="#")
                                figure
                                    img.img-responsive.center-block(src="images/socials/fb.png")
                            a.button.g-plus(href="#")
                                figure
                                    img.img-responsive.center-block(src="images/socials/g-plus.png")
            footer#footer.row
                .col-lg-12.text-center.
                    Copyright © 2014 by LeTrinhDesign.  All rights reserved.
        script.
            document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>');
