@import (reference) "variables.less";

@media (min-width: @screen-lg) {
    nav#top .slides {
        .slide.ng-animate {
            transition: top 0.6s;
        }

        .slide.ng-enter {
            top: 150% !important;
        }

        .slide.ng-enter.ng-enter-active, .slide.ng-leave {
            top: 50% !important;
        }

        .slide.ng-leave.ng-leave-active {
            top: -50% !important;
        }
    }
}

@media (max-width: @screen-lg) {
    nav#top .slides {
        .slide {
            cursor: pointer;
        }

        .slide.ng-animate {
            transition: transform 0.6s;
        }

        .slide.ng-enter {
            transform: translate(100%, -50%) !important;
        }

        .slide.ng-enter.ng-enter-active, .slide.ng-leave {
            transform: translate(0%, -50%) !important
        }

        .slide.ng-leave.ng-leave-active {
            transform: translate(-100%, -50%) !important;
        }
    }
}
