@import (reference) "variables.less";
@import (reference) "mixins.less";
@import (reference) "navs.less";

@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Dosis";
    src: url(../fonts/Dosis-Regular.otf);
}

@font-face {
    font-family: "Dosis";
    src: url(../fonts/Dosis-SemiBold.otf);
    font-weight: 500;
}

@font-face {
    font-family: "Dosis";
    src: url(../fonts/Dosis-Bold.otf);
    font-weight: 700;
}

@text-color: #3d3d3d;
@orange: #f16522;

.separator {
    width: 2.5em;
    height: 0.3em;
    background-color: @orange;
    margin-top: 1em;
    margin-bottom: 1em;
}

.custom-button {
    font-family: "OpenSans";
    background-color: #363636;
    color: white;
    padding: 1.5em 2.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.line-height {
    line-height: 2em;
}

body {
    overflow-x: hidden;
}

nav#top {
    background-image: url(../images/sliderbg.png);
    background-size: cover;
    background-repeat: no-repeat;

    .menu {
        position: absolute;
        top: 3em;
        right: 3em;
        display: inline-block;
        font-size: 1.1em;
        font-family: "Dosis";
        font-weight: 500;
        text-transform: uppercase;
        z-index: 2;

        a, a:visited {
            color: white;
        }

        a:hover, a:focus {
            background-color: transparent;
            text-decoration: underline;
        }
    }

    .hamburger {
        display: none;
        position: absolute;
        top: 3em;
        right: 3em;
        z-index: 3;

        width: 3em;
        height: 3em;

        background-image: url(../images/hamburger.png);
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
    }

    .slide-down-wrapper {
        position: absolute;

        left: 50%;
        bottom: 3em;
        z-index: 3;

        width: 2.5em;
        height: 2.5em;
        transform-origin: 0% 0%;
        transform: rotate(45deg);
        background-color: rgba(255, 255, 255, 0.1);
        cursor: pointer;

        .slide-down {
            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            width: 2em;
            height: 2em;
            background-color: white;

            .arrow {
                width: 100%;
                height: 100%;
                background-image: url(../images/arrow.png);
                background-position: center center;
                background-repeat: no-repeat;
                transform: rotate(-45deg) translateY(3px);
            }
        }
    }

    > *[class*="col-"] > .row {
        position: relative;
        right: 0em;
        height: 800px;

        > *[class*="col-"] {
            height: 100%;
        }

        .slide-wrapper {
            height: 100%;

            background-image: url(../images/sliderfg.png);
            background-size: cover;
            background-repeat: no-repeat;

            .mini_logo {
                position: absolute;
                top: 3em;
                z-index: 2;
                width: 46px;
                height: 46px;
                background-image: url(../images/minilogo.png);
            }

            .slides {
                position: relative;
                width: @screen-lg / 2;
                height: 100%;
                overflow: hidden;
                float: right;

                .slide {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    padding-right: 2em;

                    color: white;

                    p.top {
                        text-transform: uppercase;
                        font-family: "Dosis";
                        font-weight: bold;
                        font-size: 3.5em;
                    }

                    .separator {
                        width: 80px;
                        height: 0.5em;
                        border-radius: 0.25em;
                        background-color: white;
                        margin-bottom: 1em;
                    }

                    p.bottom {
                        font-family: "OpenSans";
                        font-size: 1.2em;
                        .line-height;
                    }
                }
            }
        }

        .pagin {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            .circle {
                transition: background-color 0.6s;
                width: 0.6em;
                height: 0.6em;
                border-radius: 0.3em;
                background-color: white;
                margin: 0.4em 0em;
                cursor: pointer;

                &.active {
                    background-color: @orange;
                }
            }
        }
    }
}

#clients {
    background-image: linear-gradient(45deg, #f8f8f8, #f8f8f8 50%, white 51%, white);

    .col {
        width: @screen-lg;
        margin: 0 auto;
        padding: 1.5em 0em 1em;
        float: none;
        background-color: white;
        background-image: url(../images/clientsbg.png);
        background-repeat: no-repeat;
        background-size: contain;

        .left {
            p.top {
                font-family: "Dosis";
                font-weight: bold;
                font-size: 1.6em;
                text-transform: uppercase;
            }

            a.bottom {
                @color: @orange;

                font-family: "OpenSans";
                color: @color;

                .glyphicon {
                    margin-left: 0.3em;
                    font-size: 0.7em;
                }

                &:hover {
                    color: @color;
                    text-decoration: underline;
                }

                &:visited {
                    color: @color;
                }
            }
        }

        .right {
            margin-top: -0.5em;

            img {
                display: inline-block;
                filter: saturate(0%);
                opacity: 0.3;
            }
        }
    }
}

#clients-bottom {
    background-color: #f8f8f8;
    background-image: url(../images/clientsbg2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;

    > div {
        width: @screen-lg;
        margin: 0 auto;
        float: none;

        .row {
            position: relative;
            display: flex;

            .face {
                align-self: flex-end;
            }

            .right {
                .text {
                    padding: 10em 0em 11.5em 1.5em;

                    .top {
                        font-family: "Dosis";
                        font-weight: bold;
                        color: @text-color;
                        font-size: 3em;
                        text-transform: uppercase;
                    }

                    .bottom {
                        font-family: "OpenSans";
                        font-size: 1.1em;
                        margin-bottom: 4em;
                        .line-height;
                    }

                    a.button {
                        .custom-button;
                    }
                }
            }
        }
    }
}

#services {
    background-color: white;

    > div {
        width: @screen-lg;
        margin: 0 auto;
        float: none;
        height: 100%;

        .row {
            padding: 6em 0em 3em;

            .left {
                position: relative;

                .text {

                    p {
                        &.top {
                            text-transform: uppercase;
                            font-size: 3em;
                            font-family: "Dosis";
                            font-weight: bold;
                        }

                        &.bottom {
                            font-family: "OpenSans";
                            font-size: 1.1em;
                            .line-height;
                            margin-bottom: 5em;
                        }
                    }

                    a.button {
                        .custom-button;
                    }
                }
            }

            .right {
                margin-top: -8em;

                .row {
                    div {
                        .service {
                            text-align: center;
                            width: 100%;
                            padding: 6em 0em 4em;

                            p {
                                margin-top: 1em;
                                font-family: "Dosis";
                                font-size: 1.1em;
                                font-weight: bold;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }
}

#works {
    background-color: #28282e;

    .top .text {
        width: 50%;
        text-align: center;
        margin: 4em auto;

        p {
            &.top {
                font-family: "Dosis";
                font-size: 3em;
                font-weight: bold;
                color: white;
                text-transform: uppercase;
            }

            &.bottom {
                font-family: "OpenSans";
                font-size: 1.1em;
                color: #878796;
                .line-height;
            }
        }
    }

    .middle {
        .tablet {
            height: 464px;
            background-image: url(../images/tablet.png);
            background-repeat: no-repeat;
        }

        .text {
            width: @screen-lg / 2;
            color: #878796;
            font-size: 1.1em;

            p.top {
                font-family: "Dosis";
                font-weight: bold;
                font-size: 2em;
                color: white;
            }

            p.bottom {
                font-family: "OpenSans";
                .line-height;
            }

            .address {
                font-family: "OpenSans";
                border-top: 1px dashed rgba(135, 135, 150, 0.3);
                padding: 1.5em 0em 6em;
                margin-top: 1.5em;

                table td {
                    padding: 1em 1em 1em 0em;

                    &:nth-child(2) {
                        font-weight: bold;
                        padding: 0em 0.3em;
                    }
                }
            }
        }
    }

    > .bottom {
        background-color: #222227;

        > .works {
            width: @screen-lg;
            margin: 0 auto;
            padding-top: 1.5em;

            *[class*="col-"] {
                margin: 2em 0em;
            }

            .work {
                position: relative;
                height: 19.5em;
                background-color: #28282e;

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .futurethink {
                text-align: center;
                padding: 1em;
                background-color: white;
                font-family: "OpenSans";
                .line-height;

                .image {
                    margin: 1.5em 0em 2em;
                }

                .link {
                    margin: 1em 0em;

                    a {
                        color: @orange;
                    }
                }
            }
        }

        > .row:not(.works) {
            @buttonHeight: 4em;
            margin-bottom: 1em;

            height: @buttonHeight + 2em;

            *[class*="col-"] {
                height: 100%;
            }

            .buttons {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: inline-block;

                a {
                    float: left;
                    display: inline-block;
                    margin: 0em 1em;
                }

                .prev, .next {
                    width: @buttonHeight;
                    height: @buttonHeight;
                }

                .prev, .next, .show-all {
                    border: 1px dashed rgb(135, 135, 150);
                }

                .show-all {
                    position: relative;
                    width: @buttonHeight * 2.5;
                    height: @buttonHeight;

                    color: white;
                    text-transform: uppercase;
                    font-family: "OpenSans";
                    letter-spacing: 2px;

                    background-color: black;

                    span {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 100%;
                        text-align: center;
                    }

                    &:hover span {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

#industries {
    > *[class*="col-"] > .row {
        width: @screen-lg;
        margin: 4em auto 0em;
        float: none;

        > *[class*="col-"] {
            margin-top: 2em;
            margin-bottom: 2em;

            > .text {
                > .top {
                    color: @text-color;
                    font-family: "Dosis";
                    font-weight: bold;
                    text-transform: uppercase;

                    > .top {
                        font-size: 3em;
                    }

                    > .bottom {
                        font-size: 2em;
                    }
                }

                > .bottom {
                    font-family: "OpenSans";
                    font-size: 1.1em;
                    color: @text-color;
                }
            }

            > .industry {
                position: relative;
                float: left;
                width: 100%;

                background-color: white;
                text-align: center;
                padding: 2.336em 0em;
                border: 0.7em solid white;
                outline: 1px solid #e7eaed;

                &.special {
                    background-color: #f3f3f3;
                }

                .title {
                    font-family: "Dosis";
                    font-size: 1.2em;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: @text-color;
                    white-space: nowrap;

                    margin-top: 1em;
                }

                .show-all {
                    .custom-button;

                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);

                    background-color: @orange;
                    color: white;
                    margin: 0.957em 0em;
                    float: left;
                }
            }
        }
    }
}

#feature {
    background-color: #f1f1f1;
    padding-top: 6em;
    padding-bottom: 6em;

    > *[class*="col-"] > .row {
        width: @screen-lg;
        margin: 0 auto;
        float: none;

        img.mockup {
            margin-left: -117px;
        }

        .text {
            margin-top: 5em;
            color: @text-color;

            > .top {
                font-family: "Dosis";
                font-weight: bold;
                text-transform: uppercase;

                > .top {
                    font-size: 3em;
                }

                > .bottom {
                    font-size: 2em;
                }
            }

            > .bottom {
                font-size: 1.1em;
                font-family: "OpenSans";
                .line-height;
            }

            .buttons {
                margin-top: 3em;

                a {
                    .custom-button;
                    text-transform: uppercase;
                    border-radius: 2px;
                    float: left;
                    margin: 0em 1em;

                    &.see-more {
                        margin-left: 0em;
                        margin-top: 2px;
                    }

                    &.download {
                        background-color: transparent;
                        border: 2px solid @orange;
                        color: @orange;
                    }
                }
            }
        }
    }
}

#blog {
    > *[class*="col-"] > .row {
        width: @screen-lg;
        margin: 0 auto;
        float: none;

        .text {
            text-align: center;
            margin-top: 5em;
            margin-bottom: 4em;
            width: 50%;
            .center-block;

            > .top {
                font-family: "Dosis";
                font-weight: bold;
                font-size: 3em;
                text-transform: uppercase;
            }

            > .bottom {
                font-family: "OpenSans";
                font-size: 1.1em;
                .line-height
            }
        }

        .post {
            font-family: "OpenSans";
            font-size: 1.1em;
            line-height: 1.5em;
            margin-bottom: 1.5em;

            .title {
                margin-top: 1em;
                font-weight: bold;
            }

            .author {
                margin-top: -0.2em;
                color: #8e8e8e;
            }

            a.read-more {
                display: inline-block;
                margin-top: 1.5em;
                color: @orange;
            }
        }

        .load-more {
            font-family: "Dosis";
            font-size: 1.2em;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            padding-top: 5em;
            padding-bottom: 3em;

            a {
                color: black;
            }
        }
    }
}

#footer {
    background-color: #e7eaed;

    > *[class*="col-"] > .row {
        width: @screen-lg;
        padding: 4em 0em 2em;
        margin: 0 auto;
        float: none;
        font-family: "OpenSans";
        font-size: 1.1em;

        .title {
            font-family: "Dosis";
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.3em;
            margin-bottom: 0.5em;

            &.big {
                font-size: 1.7em;
                margin-bottom: 0.25em;
            }

            &:not(.big) {
                margin-top: 0.35em;
            }
        }

        .link {
            text-transform: uppercase;
            font-size: 0.8em;

            a {
                color: @orange;
            }
        }

        .mailing {
            input.form-control {
                border: none;
                border-radius: 0px;
                height: 40px;
            }

            button.btn {
                background-image: none;
                box-shadow: none;
                border: none;
                border-radius: 0px;
                height: 40px;
            }
        }
    }
}

// Hamburger menu
@media (max-width: 1375px) {
    nav#top {
        .hamburger {
            display: block !important;
        }

        .menu {
            top: 6em;

            transition: all 0.3s;
            right: 0em;
            transform: translateX(100%);

            &.active {
                right: 3em;
                transform: translateX(0%);
            }
            ul {
                // copied from navs.less
                .nav-stacked;
            }
        }
    }
}

@media (max-width: @screen-md-max) {
    #services > div, #clients-bottom > div,
        #clients .col,
        nav#top .slider .slide-wrapper,
        #works > .bottom > .row,
        #industries > *[class*="col-"] > .row,
        #feature > *[class*="col-"] > .row,
        #blog > *[class*="col-"] > .row,
        #footer > *[class*="col-"] > .row {
            width: auto;
    }

    nav#top {
        > *[class*="col-"] > .row {
            transition: right 0.3s;

            &.menu-active {
                right: 12em;
            }
        }

        .slide-wrapper .slides {
            float: none !important;
            margin: 0 auto;
            text-align: center;

            .slide .separator {
                .center-block !important;
            }
        }

        .pagin {
            top: -9em !important;
            left: 50% !important;
            transform: rotate(-90deg) translateY(15%) !important;
            margin-left: -15px;
        }
    }

    #clients {
        text-align: center;
        background-image: none;
        background-color: #f8f8f8;

        .col {
            background-image: none;
        }
    }

    #clients-bottom {
        text-align: center;

        > div > .row {
            display: block;

            .face img {
                .center-block;
            }
        }

        .right .text .separator {
            .center-block;
        }
    }

    #services {
        text-align: center;

        .left .text .separator {
            .center-block;
        }

        .right {
            margin-top: 0em !important;
        }
    }

    #works .middle {
        text-align: center;

        .tablet {
            background-position: center center;
        }

        .text {
            margin: 0 auto;

            .address table {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    #industries > *[class*="col-"] > .row > *[class*="col-"] > .text {
        text-align: center;

        .separator {
            .center-block;
        }
    }

    #feature {
        text-align: center;

        .buttons {
            display: inline-block;
        }

        .separator {
            .center-block;
        }

        .mockup {
            margin-left: auto !important;
            margin-right: auto;
        }
    }

    #blog {
        .post {
            text-align: center;

            .image img {
                margin-left: auto;
                margin-right: auto;
            }
        }

        .separator {
            .center-block;
        }
    }
}

@media (max-width: @screen-sm-max) {
    #works .top .text {
        width: auto;
    }

    #footer {
        text-align: center;
    }
}
