.contact
    h1 Kontakt
    form
        table
            tr
                td Imie i nazwisko
                td
                    input(type="text")
            tr
                td Adres e-mail
                td
                    input(type="email")
            tr
                td Tytuł
                td
                    input(type="text")
            tr
                td Treść
                td
                    input(type="textarea")
            tr
                td(colspan=2)
                    input(type="button", value="Wyślij")
                    input(type="reset", value="Wyczyść")
