.image_slider(slider)
    .side.prev
        .arrow(ng-click="prev($event)")
    .side.next
        .arrow(ng-click="next($event)")
    .imagesWrapper
        .images(ui-view="slider")
            .no_category --- Wybierz kategorie ---

nav.category
    div.title
        div.triangle-left
        span Category
        div.triangle-right

    a(ui-sref="gallery.category({ category: 'digital' })", ng-class="{ active: $state.params.category == 'digital' }")
        p.text Digital Art
        p.background

    a(ui-sref="gallery.category({ category: 'traditional' })", ng-class="{ active: $state.params.category == 'traditional' }")
        p.text Traditional Art
        p.background

    a(ui-sref="gallery.category({ category: 'concept' })", ng-class="{ active: $state.params.category == 'concept' }")
        p.text Concept Art
        p.background

.displayWrapper
    .display(ui-view="display")
        .no_image --- Wybierz obraz ---
