.image(ng-repeat="image in images | filter:checkCategory", ng-init="uri='gallery.category.image'; params={ category: image.type, image: image.id }")
    a(ui-state="uri", ui-state-params="params", ng-class="{ selected: $state.params.image == image.id }")
        img(ng-src="{{ image.path }}")
