@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

@import "bootstrap/normalize.less";
@import "bootstrap/scaffolding.less";

@import "bootstrap/type.less";
@import "bootstrap/code.less";
@import "bootstrap/grid.less";

@import "bootstrap/utilities.less";
@import "bootstrap/responsive-utilities.less";

@import "fonts.less";
@import "mixins.less";

body {
    font-size: 16px;
    font-family: "Lato";
    color: #3c3c3c;
}

#header {
    background-image: url(../images/headerbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 800px;

    > .column {
        height: 100%;
        display: flex;

        .text {
            align-self: flex-end;
            margin: 0 auto;
            width: @screen-lg / 2;
            text-align: center;
            text-transform: uppercase;
            color: #1a2733;

            .top, .middle {
                .letter-spacing;
            }

            .bottom {
                font-family: "Letter Gothic Std";
                .line-height;
                font-size: 1.0em;
            }

            .slide-down {
                width: 32px;
                height: 32px;
                margin: 3em auto 4em;
                background-image: url(../images/headerarrow.png);
                background-repeat: no-repeat;
                cursor: pointer;
            }
        }
    }
}

#about-us {
    .column {
        padding: 3em 0em;

        .text {
            text-align: center;
        }

        .image {
            margin-top: 3em;
            margin-bottom: 3em;
        }
    }
}

#whoweare {
    background-color: #f6f6f6;
    > .column {
        margin-top: 4em;
        margin-bottom: 6em;

        > .text {
            margin-bottom: 4em;
            text-align: center;
        }

        > .row {
            .member {
                .flipper {
                    position: relative;
                    display: inline-block;
                    left: 50%;
                    transform: translateX(-50%);

                    .image {
                        transition: transform 0.5s;
                        backface-visibility: hidden;
                        transform: rotateY(0deg);
                    }

                    .social {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(233, 87, 63, 0.9);
                        transition: transform 0.5s;
                        backface-visibility: hidden;
                        transform: rotateY(180deg);
                        display: flex;

                        .links {
                            display: inline-block;
                            margin: auto;

                            a {
                                box-sizing: content-box;
                                background-color: rgba(255, 255, 255, 0.3);

                                font-size: 1.2em;
                                font-family: "FontAwesome";
                                text-align: center;
                                color: white;

                                display: inline-block;
                                width: 1.2em;
                                height: 1.2em;
                                padding: 0.4em;
                                margin-left: 0.3em;
                                margin-right: 0.3em;

                                &.facebook:after {
                                    content: "\f09a";
                                }

                                &.twitter:after {
                                    content: "\f099";
                                }

                                &.google-plus:after {
                                    content: "\f0d5";
                                }
                            }
                        }
                    }

                    &:hover .image {
                        transform: rotateY(180deg);
                    }

                    &:hover .social {
                        transform: rotateY(0deg);
                    }
                }

                .text {
                    .name {
                        font-weight: bold;
                        font-size: 1.1em;
                        color: #282528;
                    }

                    .position {
                        font-weight: @light;
                        color: #646464;
                    }
                }
            }
        }
    }
}

#whatwedo {
    margin-top: 4em;
    margin-bottom: 4em;

    .orange-text {
        color: #ea6751;
    }

    .work {
        .image {
            margin-top: 4em;
            margin-bottom: 4em;
        }

        .title {
            font-size: 1.2em;
            font-weight: bold;
            margin-bottom: 1.5em;
        }

        .description {
            font-size: 1.0em;
            text-align: justify;
            font-weight: @light;
        }
    }
}

#ourwork {
    padding-top: 3em;
    padding-bottom: 3em;

    .slider-wrapper {
        position: relative;
        height: 296px;
        margin-top: 2em;
        margin-bottom: 1.5em;
        overflow: hidden;

        .slider {
            position: absolute;
            width: 100%;
            height: 100%;

            .slide {
                position: absolute;
                left: 0;
                display: inline-block;
                margin: 0em 0.3em;

                &.animate {
                    transition: left 0.3s;
                }

                .label {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    padding-top: 1em;
                    padding-bottom: 1em;

                    text-transform: uppercase;
                    background-color: rgba(234, 103, 81, 0.8);
                    color: white;
                    font-weight: bold;
                    font-size: 1.1em;
                    transition: opacity 0.3s;
                    opacity: 0;
                }

                .hover {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(234, 103, 81, 0.8);
                    transition: opacity 0.3s;
                    opacity: 1;
                }
                &.active {
                    &:hover .label {
                        opacity: 1;
                    }

                    .hover {
                        opacity: 0;
                    }
                }
            }
        }
    }

    .pages-wrapper {
        display: inline-block;
        margin-top: 1em;
        margin-bottom: 1em;

        .pages {
            display: flex;
            height: 1.1em;

            .page {
                align-self: center;

                transition: all 0.3s;
                margin-left: 1em;
                margin-right: 1em;
                width: 0.7em;
                height: 0.7em;
                display: inline-block;
                background-color: #e6e5e5;
                border-radius: 0.35em;
                cursor: pointer;

                &.active {
                    width: 1.1em;
                    height: 1.1em;
                    border-radius: 0.55em;
                    background-color: #ea6751;
                    margin-left: 0.8em;
                    margin-right: 0.8em;
                }
            }
        }
    }
}

#ourclient {
    background-image: url(../images/clientbg.png);
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
    padding-top: 4em;
    padding-bottom: 8em;

    .text {
        margin-bottom: 6em;
    }

    a {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        display: inline-block;
    }
}

#contact {
    margin-top: 5em;
    margin-bottom: 5em;

    .input-text {
        display: inline-block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #ccc;
        padding: 0.8em 0em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .button {
        background-color: #ea6751;
        padding: 0.6em 2em;
        color: white;
        font-size: 1.1em;
        display: block;
    }

    button.button, input.button {
        border: none;
    }

    .socials {
        margin-top: 3em;

        .button {
            width: 100%;
            margin-top: 0.07em;
            margin-bottom: 0.07em;
        }

        .g-plus {
            background-color: #f13131;
        }
        .fb {
            background-color: #2a63ab;
        }
        .dribble {
            background-color: #fa4e9b;
        }
        .twitter {
            background-color: #51d7fd;
        }
        .behance {
            background-color: #0e9ef9;
        }
    }
}

#footer {
    background-color: #c9c9ca;
    border-top: 2px solid #b6b6b7;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

@media (max-width: @screen-md-max) {
    .fixed-width-row {
        width: auto;
    }

    #whoweare .member .text {
        text-align: center;
    }
}
