.line-height {
    line-height: 2;
}

.letter-spacing {
    letter-spacing: 5px;
}

.bold {
    font-weight: bold;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.5em;
}

article > p {
    font-size: 1.1em;
    font-weight: @light;
}

.separator {
    width: 3.5em;
    height: 0.35em;
    background-color: #dddbdb;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.fixed-width-row {
    width: @screen-lg;
    margin: 0 auto;
    float: none;
}
