@import (reference) 'main.less';

.view.ng-animate {
    transition: 0.5s all;
}

.view.ng-enter.right, .view.ng-leave.ng-leave-active.left {
    transform: translateX(-100%);
    opacity: 0;
}

.view.ng-enter.ng-enter-active.right,
.view.ng-enter.ng-enter-active.left,
.view.ng-leave.left,
.view.ng-leave.right {
    transform: translateX(0%);
    opacity: 1;
}

.view.ng-leave-active.right, .view.ng-enter.left {
    transform: translateX(100%);
    opacity: 0;
}

.images.ng-enter.down,
.images.ng-leave.ng-leave-active.top {
    top: -@image-slider-height;
}

.images.ng-enter.ng-enter-active.top,
.images.ng-enter.ng-enter-active.down,
.images.ng-leave.top,
.images.ng-leave.down {
    top: 0px;
}

.images.ng-leave.ng-leave-active.down,
.images.ng-enter.top {
    top: @image-slider-height;
}

.display.ng-animate {
    transition: 0.5s left;
}

.display.ng-enter.left,
.display.ng-leave.ng-leave-active.left {
    left: -100%;
}

.display.ng-enter.right,
.display.ng-leave.ng-leave-active.right {
    left: 100%;
}

.display.ng-enter.ng-enter-active,
.display.ng-leave {
    left: 0;
}
