@lighter-blue: #deebf5;
@light-blue: #bedbf0;
@darker-blue: #33558b;
@darkest-blue: #33568b;
@nav-font-color: #ddebf5;
@nav-font-size: 25px;

@image-slider-height: 150px;
@image-slider-border-radius: 70px;

@side-width: 100px;
@arrow-width: 24px;
@arrow-height: 63px;
@arrow-edge-dist: 20px;

@image-slider-thumbnail-width: 123px;
@image-slider-thumbnail-height: 82px;

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: @light-blue;
    overflow-x: hidden;
}

.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

#wrapper {
    width: 1070px;
    padding-top: 60px;
    margin: 0 auto;
    font-family: "Arial";

    box-sizing: border-box;
}

header {
    background-color: white;
    background-image: url(../images/pattern_logo.png);
    background-position: right center;
    background-repeat: no-repeat;

    width: 100%;
    height: 200px;
    padding: 15px 60px;
    box-sizing: border-box;

    color: @darkest-blue;

    .author {
        font-size: 58px;
    }

    .portfolio {
        font-size: 41px;
    }
}

nav.top {
    display: block;

    .triangle {
        display: inline-block;
        width: 0px;
        height: 0px;

        border-width: 20px;
        border-style: solid;
        border-color: @darkest-blue @darkest-blue transparent transparent;
    }

    ul {
        float: right;
        list-style-type: none;

        li {
            float: left;

            a {
                display: inline-block;
                background-color: @darkest-blue;

                padding: 5px 10px;

                color: @nav-font-color;
                text-decoration: none;

                font-size: @nav-font-size;
            }

            a:hover {
                color: @nav-font-color;
                text-decoration: underline;
            }

            a:visited {
                color: @nav-font-color;
            }
        }
    }
}

.view-container {
    position: relative;
    .view {
        margin: 30px 0px;
        padding: 20px;
        position: absolute;
        width: 100%;
        box-sizing: border-box;
    }
}

.image_slider {
    position: relative;
    height: @image-slider-height;
    background-color: @lighter-blue;
    border-radius: @image-slider-border-radius;
    overflow: hidden;
    margin-bottom: 30px;

    .side {
        position: absolute;
        width: @side-width;
        height: @image-slider-height;
        z-index: 10;

        .arrow {
            position: absolute;
            z-index: 11;
            width: @arrow-width;
            height: @arrow-height;
            background-image: url(../images/images_arrows.png);
            background-color: transparent;

            top: (@image-slider-height - @arrow-height) / 2;

            cursor: pointer;
        }
    }

    .prev {
        border-radius: @image-slider-border-radius 0px 0px @image-slider-border-radius;
        background-image: linear-gradient(to right, @lighter-blue, @lighter-blue 50%, transparent);
        transform: translateX(-2px);

        .arrow {
            left: @arrow-edge-dist;
        }
    }

    .next {
        right: 0px;
        border-radius: 0px @image-slider-border-radius @image-slider-border-radius 0px;
        background-image: linear-gradient(to left, @lighter-blue, @lighter-blue 50%, transparent);
        transform: translateX(2px);

        .arrow {
            right: @arrow-edge-dist;
            background-position: -24px 0px;
        }
    }

    .imagesWrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        z-index: 9;

        .images {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow-y: hidden;

            transition: 0.5s all;

            .no_category {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 24px;
            }

            .image {
                box-sizing: border-box;

                display: inline-block;
                width: @image-slider-thumbnail-width;
                height: @image-slider-thumbnail-height;
                //background-image: url(../images/image_placeholder.png);
                margin: ((@image-slider-height - @image-slider-thumbnail-height) / 2) 10px;
                text-align: center;

                a {
                    border: 1px solid @light-blue;
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    transition: 0.2s transform;
                    box-sizing: border-box;
                }

                a:hover, a.selected {
                    border: 1px solid @darker-blue;
                }

                a.selected {
                    transform: scale(1.2, 1.2);
                }

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
    }
}

nav.category {
    display: inline-block;
    width: 12em;
    float: left;

    div.title {
        position: relative;
        display: block;
        height: 2.2em;

        span {
            display: inline-block;
            width: 9.8em;
            height: 100%;
            padding: 0.5em;
            box-sizing: border-box;
            background-color: @darker-blue;
            color: @lighter-blue;
            float: left;
        }

        .triangle-right {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 2.2em 0 0 2.2em;
            border-color: transparent transparent transparent @darker-blue;
            float: left;
        }

        .triangle-left {
            display: none;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 2.2em 2.2em;
            border-color: transparent transparent @darker-blue transparent;
            float: left;
        }
    }

    a {
        position: relative;
        display: block;
        text-decoration: none;
        height: 2.2em;
        background-color: @lighter-blue;

        p {
            position: absolute;

            &.text {
                transition: 0.2s color;
                padding: 0.5em;
                width: 100%;
                height: 100%;
                z-index: 2;
                box-sizing: border-box;
                color: @darker-blue;
            }

            &.background {
                transition: 0.2s all;
                background-color: @darker-blue;
                width: 0;
                height: 0;
                top: 50%;
                left: 50%;
                z-index: 1;
            }
        }
    }

    .category_button(@text-color, @bg-color) {
        &.text {
            color: @text-color;
        }

        &.background {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: @bg-color;
        }
    }

    a:hover {
        p {
            .category_button(lighten(@lighter-blue, 10%), lighten(@darker-blue, 10%));

            &.text {
                text-decoration: underline;
            }
        }
    }

    a.active {
        p {
            .category_button(@lighter-blue, @darker-blue);
        }
    }

    a:visited {
        color: @darker-blue;
    }
}

.displayWrapper {
    position: relative;
    float: right;
    width: 800px;
    height: 600px;
    overflow: hidden;
    background-color: @lighter-blue;
};

.display {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: @lighter-blue;
    text-align: center;

    border: 20px solid @lighter-blue;
    box-sizing: border-box;

    img {
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .no_image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
    }
}

p.aboutme, .contact {
    padding: 1.5em;
    background-color: @lighter-blue;
}

.contact {
    text-align: center;

    h1 {
        margin: 1em 0;
        border-bottom: 2px solid darken(@light-blue, 20%);
    }

    form {
        table {
            border-collapse: collapse;
            margin: 0 auto;

            tr td {
                padding: 1em;
                border-bottom: 1px solid darken(@light-blue, 20%);
                border-top: 1px solid darken(@light-blue, 20%);
            }

            tbody tr:first-of-type td {
                border-top: none;
            }

            tbody tr:last-of-type td {
                border-bottom: none;
            }

            tr td:first-of-type {
                font-weight: bold;
            }
        }
    }
}

.footer_separator {
    width: 100%;
    height: 17px;
    background-image: url(../images/footer_separator.png);
    background-position: center center;
    background-repeat: no-repeat;
}

footer {
    padding: 20px 0px;
    color: @darker-blue;
    text-align: center;
    font-size: 18px;
}
