@media only screen and (max-width: 1070px) {
    #wrapper {
        width: 100%;
        margin: 0;
    }

    nav.category {
        display: block;
        margin: 10px auto;
        float: none;
        text-align: center;

        div.title {
            span {
                width: 7.6em;
            }

            .triangle-left {
                display: block;
            }
        }
    }

    .displayWrapper {
        float: none;
        margin: 0 auto;
        width: 100%;
    }
}
