doctype html
html(ng-app="portfolio")
    head
        title Portfolio Anna Kowalska
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        base(href="/demos/portfolio/")
        script(type="text/javascript", src="js/lib/jquery-3.0.0.js")
        script(type="text/javascript", src="js/lib/angular.min.js")
        script(type="text/javascript", src="js/lib/angular-animate.js")
        //script(type="text/javascript", src="js/lib/angular-route.min.js"
        script(type="text/javascript", src="js/lib/angular-ui-router.js")
        script(type="text/javascript", src="js/main.js")

        script document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
        link(href="css/main.css", rel="stylesheet", type="text/css")
        link(href="css/animations.css", rel="stylesheet", type="text/css")
        link(href="css/medias.css", rel="stylesheet", type="text/css")
    body
        #wrapper
            header
                .author Anna Kowalska
                .portfolio portfolio

            nav.top.clearfix
                ul.clearfix
                    li
                        .triangle
                    li
                        a(ui-sref="gallery") Gallery
                    li
                        a(ui-sref="aboutme") About Me
                    li
                        a(ui-sref="contact") Contact

            .view-container
                .view.clearfix(ui-view)

            .footer_separator
            footer
                div Jakieś informacje w stopce
                div Design by Tikonka
