doctype html
html(ng-app="Homefix")
    head
        title Home Fix
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(charset="utf-8")
        link(rel="stylesheet", type="text/css", href="css/bootstrap.css")
        link(rel="stylesheet", type="text/css", href="css/bootstrap-theme.css")
        link(rel="stylesheet", type="text/css", href="css/main.css")
        link(rel="stylesheet", type="text/css", href="css/animations.css")
        script(type="text/javascript", src="js/lib/jquery-3.0.0.js")
        script(type="text/javascript", src="js/lib/jquery.scrollTo.js")
        script(type="text/javascript", src="js/lib/angular.min.js")
        script(type="text/javascript", src="js/lib/angular-animate.js")
        script(type="text/javascript", src="js/app.js")
    body(ng-controller="MainController")
        .container-fluid
            nav#top.row
                .col-md-12
                    .hamburger(ng-click="hamburger=!hamburger")
                    .menu(role="navigation", ng-class="{ active: hamburger }")
                        ul.nav.nav-pills
                            li(role="presentation")
                                a(href="#home", scroll-to="nav#top") Home

                            li(role="presentation")
                                a(href="#works", scroll-to="#works") Works

                            li(role="presentation")
                                a(href="#industries", scroll-to="#industries") Industries

                            li(role="presentation")
                                a(href="#services", scroll-to="#services") Services

                            li(role="presentation")
                                a(href="#news", scroll-to="#blog") News

                            li(role="presentation")
                                a(href="#whoweare", scroll-to="#clients") Who We Are

                            li(role="presentation")
                                a(href="#contact", scroll-to="#footer") Contact

                    .slide-down-wrapper(ng-click="nextSlide(true);")
                        .slide-down
                            .arrow
                    .row(ng-class="{ 'menu-active': hamburger }")
                        .col-lg-6.slide-wrapper(style="padding-left: 0px;")
                            .slides
                                .mini_logo
                                .slide(ng-repeat="slide in slides", ng-if="$index == selectedSlide")
                                    p.top {{ slide.titleTop }}
                                        br
                                        | {{ slide.titleBottom }}
                                    .separator
                                    p.bottom {{ slide.description }}

                        .col-lg-6
                            .pagin
                                .circle(ng-repeat="slide in slides", ng-class="{ active: $index == selectedSlide }", ng-click="changeSlide($index)")
            #clients.row
                .col.col-md-12.clearfix
                    .row
                        .col-lg-2.left
                            p.top Our Clients
                            a.bottom(href="#") View All
                                span.glyphicon.glyphicon-triangle-right

                        .col-lg-10.right
                            .row
                                .col-lg-2.col-md-4.col-sm-6
                                    img(src="images/clients/365app.png")
                                .col-lg-2.col-md-4.col-sm-6
                                    img(src="images/clients/getlicensed.png")
                                .col-lg-2.col-md-4.col-sm-6
                                    img(src="images/clients/hotjobs.png")
                                .clearfix.visible-md-block
                                .col-lg-2.col-md-4.col-sm-6
                                    img(src="images/clients/vng.png")
                                .col-lg-2.col-md-4.col-sm-6
                                    img(src="images/clients/drivemesafely.png")
                                .col-lg-2.col-md-4.col-sm-6
                                    img(src="images/clients/toninguy.png")
            #clients-bottom.row
                .col-lg-12
                    .row
                        .col-lg-6.face
                            img.img-responsive(src="images/clientsguy.png")
                        .col-lg-6.right
                            .text
                                p.top Hello
                                    br
                                    | Lorem ipsum dolor sit amet
                                .separator
                                p.bottom
                                    | Curabitur et dapibus leo. Donec eleifend pharetra sem, et interdum nunc
                                    | semper vel. Sed interdum magna eu faucibus faucibus.
                                    br
                                    | Nulla varius faucibus arcu, eget aliquet tortor sollicitudin ut.
                                    | Interdum et malesuada fames ac ante ipsum primis in faucibus.
                                    | Aliquam sollicitudin felis quis varius porta. Donec sit amet
                                    | diam a elit pulvinar pretium.

                                a.button(href="#") See more about us
            #services.row
                .col-lg-12
                    .row
                        .col-lg-6.left
                            .text
                                p.top Experience
                                    br
                                    | All expert digital services
                                .separator
                                p.bottom.
                                    Maecenas suscipit imperdiet nisi ac hendrerit.
                                    Nam congue felis ac massa rutrum pulvinar.
                                    Donec sodales eros sed efficitur mattis.
                                    Integer tincidunt, felis a placerat maximus,
                                    eros nulla dapibus dui.
                                a.button(href="#") See our services
                        .col-lg-6.right
                            .row
                                .col-md-6
                                    .service
                                        img(src="images/services/webdesign.png")
                                        p Web design &amp; development
                                .col-md-6
                                    .service
                                        img(src="images/services/websecurity.png")
                                        p Web security &amp; optimization
                                .col-md-6
                                    .service
                                        img(src="images/services/digitalmarketing.png")
                                        p Digital Marketing
                                .col-md-6
                                    .service
                                        img(src="images/services/conversion.png")
                                        p Conversion Optimization
            #works.row
                .top.col-lg-12
                    .text
                        p.top Recent Work
                        .separator.center-block
                        p.bottom.
                             Donec sodales eros sed efficitur mattis. Integer tincidunt,
                             felis a placerat maximus, eros nulla dapibus dui, at facilisis enim odio at velit.
                .middle.col-lg-12
                    .row
                        .col-lg-6.tablet
                        .col-lg-6
                            .text
                                p.top CustomerDomain.com
                                p.bottom.
                                    Donec lacus leo, vestibulum et erat eget, viverra posuere est.
                                    Maecenas dapibus mi erat. Duis egestas tempus leo, non euismod velit dictum eu.
                                .address
                                    table
                                        tr
                                            td Client
                                            td :
                                            td Customer
                                        tr
                                            td Location
                                            td :
                                            td U.K
                                        tr
                                            td Services
                                            td :
                                            td Search Engine Optimization
                                        tr
                                            td Website link
                                            td :
                                            td www.CustomerDomain.com
                .bottom.col-lg-12
                    .works.row
                        .col-lg-4.col-md-6
                            .work
                                img(src="images/opportunity.png")
                        .col-lg-4.col-md-6
                            .work
                                img(src="images/ivuvu.png")
                        .col-lg-4.col-md-12
                            .futurethink
                                .image
                                    img(src="images/futurethink.png")
                                span.
                                    Futurethink.com is the professional website which researches and develops
                                    innovation for organizations using a refreshing and simple approach.
                                .link
                                    a(href="#") View details
                    .row
                        .col-lg-12
                            .buttons.clearfix
                                a.prev(href="#")
                                a.show-all(href="#")
                                    span Show All
                                a.next(href="#")
            #industries.row
                .col-lg-12
                    .row
                        .col-lg-6.col-md-12
                            .text
                                .top
                                    .top We focus
                                    .bottom On key industries
                                .separator
                                .bottom.
                                    Donec nulla justo, pharetra in nulla in, lacinia pulvinar nunc rutrum nisi vel nib.
                        .col-lg-3.col-md-4.col-sm-4
                            .industry
                                .image
                                    img(src="images/industries/digitalmarketing.png")
                                .title Digital Marketing
                        .col-lg-3.col-md-4.col-sm-4
                            .industry
                                .image
                                    img(src="images/industries/sportnentertainment.png")
                                .title Sport &amp; Entertainment
                        .col-lg-3.col-md-4.col-sm-4
                            .industry
                                .image
                                    img(src="images/industries/healthnfitness.png")
                                .title Health &amp; Fitness
                        .col-lg-3.col-md-4.col-sm-4
                            .industry
                                .image
                                    img(src="images/industries/lawfirms.png")
                                .title Law firms and real estates
                        .col-lg-3.col-md-4.col-sm-4
                            .industry
                                .image
                                    img(src="images/industries/professionalservices.png")
                                .title Professional Services
                        .col-lg-3.col-md-4.col-sm-4
                            .industry
                                .image
                                    img(src="images/industries/fashionnbeauty.png")
                                .title Fashion &amp; Beauty
                        .col-lg-3.col-md-4.col-sm-4
                            .industry.special
                                .image
                                    img(src="images/industries/foodnbeverage.png")
                                .title Food &amp; Beverage
                        .col-lg-3.col-md-4.col-sm-4
                            .industry
                                .image
                                    img(src="images/industries/gamesncomics.png")
                                .title Games &amp; Comics
                        .col-lg-3.col-md-4.col-sm-4
                            .industry
                                .image
                                    img(src="images/industries/travelnhotels.png")
                                .title Travel &amp; Hotels
                        .col-lg-3.col-lg-offset-0.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4
                            .industry
                                a.show-all(href="#") Show All
            #feature.row
                .col-lg-12
                    .row
                        .col-lg-6
                            img.img-responsive.mockup(src="images/mockup2.png")
                        .col-lg-6
                            .text
                                .top
                                    .top Feature
                                    .bottom Marketing Guide
                                .separator
                                .bottom
                                    p.
                                        Etiam vitae dui quis mi pharetra facilisis.
                                        Aenean volutpat nisi dui, vel tempus metus euismod in.
                                        Quisque vitae volutpat nulla. Curabitur cursus leo lacus,
                                        a ullamcorper augue iaculis vel.
                                    p.
                                        Cras in risus vitae leo feugiat lobortis euismod quis dui.
                                        Integer tempor urna quis quam volutpat, non consequat augue iaculis.
                                        Proin malesuada sem sagittis imperdiet rutrum.
                                .buttons.clearfix
                                    a.see-more(href="#") See More
                                    a.download(href="#") Download
            #blog.row
                .col-lg-12
                    .row
                        .col-lg-12
                            .text
                                .top Recent Blog
                                .separator.center-block
                                .bottom.
                                    Donec nulla justo, pharetra in nulla in, lacinia pulvinar nunc.
                                    Nunc rutrum nisi vel nibh cursus, nec vestibulum orci feugiat.
                        .col-lg-4.col-md-6
                            .post
                                .image
                                    img.img-responsive(src="images/blog/post1.png")
                                .title Is there hope for SEO profession?
                                .author Post by
                                    b  Lawrance R. Smith
                                .separator
                                .description.
                                    Donec nulla justo, pharetra in nulla in, lacinia pulvinar nunc.
                                    Nunc rutrum nisi vel nibh cursus, nec vestibulum orci feugiat.
                                    Nunc in luctus lacus. Integer eget dui nisi. Integer mauris lacus.
                                a.read-more(href="#") Read more
                        .col-lg-4.col-md-6
                            .post
                                .image
                                    img.img-responsive(src="images/blog/post2.png")
                                .title Is there hope for SEO profession?
                                .author Post by
                                    b  Esperanza A. Johnson
                                .separator
                                .description.
                                    Donec nulla justo, pharetra in nulla in, lacinia pulvinar nunc.
                                    Nunc rutrum nisi vel nibh cursus, nec vestibulum orci feugiat.
                                    Nunc in luctus lacus. Integer eget dui nisi. Integer mauris lacus.
                                a.read-more(href="#") Read more
                        .col-lg-4.col-lg-offset-0.col-md-6.col-md-offset-3
                            .post
                                .image
                                    img.img-responsive(src="images/blog/post3.png")
                                .title Is there hope for SEO profession?
                                .author Post by
                                    b  Heather R. Williams
                                .separator
                                .description.
                                    Donec nulla justo, pharetra in nulla in, lacinia pulvinar nunc.
                                    Nunc rutrum nisi vel nibh cursus, nec vestibulum orci feugiat.
                                    Nunc in luctus lacus. Integer eget dui nisi. Integer mauris lacus.
                                a.read-more(href="#") Read more
                        .col-lg-12.col-md-12
                            .load-more
                                a(href="#") + Load More
            #footer.row
                .col-lg-12
                    .row
                        .col-lg-3.col-md-6
                            .title.big Agency Creative
                            p © 2015 k3nnyart. All rights reserved.
                            p.link
                                a(href="#") Privacy Policy
                        .col-lg-3.col-md-6
                            .title Address
                            p ABC Agency Creative
                            p 4111 Deer Haven Drive Greenville, SC 29601
                            p Hours: Mon-Fri 9am - 6:00pm
                        .col-lg-3.col-md-6
                            .title Get in touch
                            p Tel: +1 234-567-890
                            p Fax: +1 646-216-9789
                            p Email: info@yourdomain.com
                        .col-lg-3.col-md-6
                            .title Subsribe to our mailing list
                            .mailing
                                .input-group
                                    input(type="text", class="form-control", placeholder="Enter your email here")
                                    span.input-group-btn
                                        button.btn.btn-default
                                            img(src="images/addmail.png")
